In [1]:
# https://github.com/fivethirtyeight/data/tree/master/college-majors

In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [6]:
recent_grads_df = pd.read_csv('data/recent-grads.csv')
all_ages_df = pd.read_csv('data/all-ages.csv')
majors_list_df = pd.read_csv('data/majors-list.csv')

In [4]:
recent_grads_df.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [8]:
recent_grads_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
Rank                    173 non-null int64
Major_code              173 non-null int64
Major                   173 non-null object
Total                   172 non-null float64
Men                     172 non-null float64
Women                   172 non-null float64
Major_category          173 non-null object
ShareWomen              172 non-null float64
Sample_size             173 non-null int64
Employed                173 non-null int64
Full_time               173 non-null int64
Part_time               173 non-null int64
Full_time_year_round    173 non-null int64
Unemployed              173 non-null int64
Unemployment_rate       173 non-null float64
Median                  173 non-null int64
P25th                   173 non-null int64
P75th                   173 non-null int64
College_jobs            173 non-null int64
Non_college_jobs        173 non-null int64
Low_wage_jobs           173 non-null int64
dtypes: float64(5), int64(14), object(2)
memory usage: 28.5+ KB

In [5]:
all_ages_df.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [7]:
majors_list_df.head()

,FOD1P,Major,Major_Category
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources
4,1104,FOOD SCIENCE,Agriculture & Natural Resources

In [39]:
majors_list_df[majors_list_df['Major'].str.contains('COMPUTER')]

,FOD1P,Major,Major_Category
50,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics
51,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics
52,2102,COMPUTER SCIENCE,Computers & Mathematics
54,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics
55,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics
59,4005,MATHEMATICS AND COMPUTER SCIENCE,Computers & Mathematics
67,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,Education
84,2407,COMPUTER ENGINEERING,Engineering

In [29]:
majors_list_df.loc[majors_list_df['Major_Category'] == 'Computers & Mathematics']

,FOD1P,Major,Major_Category
49,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics
50,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics
51,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics
52,2102,COMPUTER SCIENCE,Computers & Mathematics
53,2105,INFORMATION SCIENCES,Computers & Mathematics
54,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics
55,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics
56,3700,MATHEMATICS,Computers & Mathematics
57,3701,APPLIED MATHEMATICS,Computers & Mathematics
58,3702,STATISTICS AND DECISION SCIENCE,Computers & Mathematics
59,4005,MATHEMATICS AND COMPUTER SCIENCE,Computers & Mathematics

In [30]:
majors_list_df.loc[majors_list_df['Major_Category'] == 'Engineering']

    FOD1P                                        Major Major_Category
76   1401                                 ARCHITECTURE    Engineering
77   2400                          GENERAL ENGINEERING    Engineering
78   2401                        AEROSPACE ENGINEERING    Engineering
79   2402                       BIOLOGICAL ENGINEERING    Engineering
80   2403                    ARCHITECTURAL ENGINEERING    Engineering
81   2404                       BIOMEDICAL ENGINEERING    Engineering
82   2405                         CHEMICAL ENGINEERING    Engineering
83   2406                            CIVIL ENGINEERING    Engineering
84   2407                         COMPUTER ENGINEERING    Engineering
85   2408                       ELECTRICAL ENGINEERING    Engineering
86   2409    ENGINEERING MECHANICS PHYSICS AND SCIENCE    Engineering
87   2410                    ENVIRONMENTAL ENGINEERING    Engineering
88   2411       GEOLOGICAL AND GEOPHYSICAL ENGINEERING    Engineering
89   2412     INDUSTRIAL AND MANUFACTURING ENGINEERING    Engineering
90   2413  MATERIALS ENGINEERING AND MATERIALS SCIENCE    Engineering
91   2414                       MECHANICAL ENGINEERING    Engineering
92   2415                    METALLURGICAL ENGINEERING    Engineering
93   2416               MINING AND MINERAL ENGINEERING    Engineering
94   2417    NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
95   2418                          NUCLEAR ENGINEERING    Engineering
96   2419                        PETROLEUM ENGINEERING    Engineering
97   2499                    MISCELLANEOUS ENGINEERING    Engineering
98   2500                     ENGINEERING TECHNOLOGIES    Engineering
99   2501        ENGINEERING AND INDUSTRIAL MANAGEMENT    Engineering
100  2502            ELECTRICAL ENGINEERING TECHNOLOGY    Engineering
101  2503           INDUSTRIAL PRODUCTION TECHNOLOGIES    Engineering
102  2504  MECHANICAL ENGINEERING RELATED TECHNOLOGIES    Engineering
103  2599       MISCELLANEOUS ENGINEERING TECHNOLOGIES    Engineering
104  5008                            MATERIALS SCIENCE    Engineering

In [32]:
recent_grads_df.loc[recent_grads_df['Major_category'] == 'Computers & Mathematics']

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
20,21,2102,COMPUTER SCIENCE,128319.0,99743.0,28576.0,Computers & Mathematics,0.222695,1196,102087,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
41,42,3700,MATHEMATICS,72397.0,39956.0,32441.0,Computers & Mathematics,0.448099,541,58118,...,18079,33738,2884,0.047277,45000,33000,60000,34800,14829,4569
42,43,2100,COMPUTER AND INFORMATION SYSTEMS,36698.0,27392.0,9306.0,Computers & Mathematics,0.253583,425,28459,...,4332,21130,2934,0.093460,45000,30000,60000,13344,11783,1672
45,46,2105,INFORMATION SCIENCES,11913.0,9005.0,2908.0,Computers & Mathematics,0.244103,158,9881,...,1468,7378,639,0.060741,45000,32500,58000,4390,4102,608
46,47,3702,STATISTICS AND DECISION SCIENCE,6251.0,2960.0,3291.0,Computers & Mathematics,0.526476,37,4247,...,1840,2151,401,0.086274,45000,26700,60000,2298,1200,343
47,48,3701,APPLIED MATHEMATICS,4939.0,2794.0,2145.0,Computers & Mathematics,0.434298,45,3854,...,1176,2593,385,0.090823,45000,34000,63000,2437,803,357
52,53,4005,MATHEMATICS AND COMPUTER SCIENCE,609.0,500.0,109.0,Computers & Mathematics,0.178982,7,559,...,0,391,0,0.000000,42000,30000,78000,452,67,25
53,54,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,4168.0,3046.0,1122.0,Computers & Mathematics,0.269194,43,3257,...,482,2453,419,0.113983,41300,20000,46000,2024,1033,263
81,82,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,8066.0,6607.0,1459.0,Computers & Mathematics,0.180883,103,6509,...,1030,4936,721,0.099723,37500,25000,50000,2354,3244,308
84,85,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,7613.0,5291.0,2322.0,Computers & Mathematics,0.305005,97,6144,...,1447,4369,1100,0.151850,36400,27000,49000,2593,2941,352
105,106,2001,COMMUNICATION TECHNOLOGIES,18035.0,11431.0,6604.0,Computers & Mathematics,0.366177,208,14779,...,4690,9085,2006,0.119511,35000,25000,45000,4545,8794,2495

In [33]:
recent_grads_df.loc[recent_grads_df['Major'] == 'COMPUTER SCIENCE']

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
20,21,2102,COMPUTER SCIENCE,128319.0,99743.0,28576.0,Computers & Mathematics,0.222695,1196,102087,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144

In [37]:
recent_grads_df.sort_values('Median')

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192
171,172,5203,COUNSELING PSYCHOLOGY,4626.0,931.0,3695.0,Psychology & Social Work,0.798746,21,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
169,170,5201,EDUCATIONAL PSYCHOLOGY,2854.0,522.0,2332.0,Psychology & Social Work,0.817099,7,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
168,169,3609,ZOOLOGY,8409.0,3050.0,5359.0,Biology & Life Science,0.637293,47,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
167,168,3302,COMPOSITION AND RHETORIC,18953.0,7022.0,11931.0,Humanities & Liberal Arts,0.629505,151,15053,...,6612,7832,1340,0.081742,27000,20000,35000,4855,8100,3466
166,167,6001,DRAMA AND THEATER ARTS,43249.0,14440.0,28809.0,Arts,0.666119,357,36165,...,15994,16891,3040,0.077541,27000,19200,35000,6994,25313,11068
165,166,2603,OTHER FOREIGN LANGUAGES,11204.0,3472.0,7732.0,Humanities & Liberal Arts,0.690111,56,7052,...,3685,3214,846,0.107116,27500,22900,38000,2326,3703,1115
164,165,2307,EARLY CHILDHOOD EDUCATION,37589.0,1167.0,36422.0,Education,0.968954,342,32551,...,7001,20748,1360,0.040105,28000,21000,35000,23515,7705,2868
163,164,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,38279.0,1225.0,37054.0,Health,0.967998,95,29763,...,13862,14460,1487,0.047584,28000,20000,40000,19957,9404,5125
162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,38844.0,11376.0,27468.0,Humanities & Liberal Arts,0.707136,247,29633,...,14515,13232,3395,0.102792,28000,20000,38000,9805,16693,6866
159,160,6007,STUDIO ARTS,16977.0,4754.0,12223.0,Arts,0.719974,182,13908,...,5673,7413,1368,0.089552,29000,19200,38300,3948,8707,3586
158,159,4901,THEOLOGY AND RELIGIOUS VOCATIONS,30207.0,18616.0,11591.0,Humanities & Liberal Arts,0.383719,310,24202,...,8767,13944,1617,0.062628,29000,22000,38000,9927,12037,3304
161,162,1199,MISCELLANEOUS AGRICULTURE,1488.0,404.0,1084.0,Agriculture & Natural Resources,0.728495,24,1290,...,335,936,82,0.059767,29000,23000,42100,483,626,31
160,161,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,10510.0,4364.0,6146.0,Industrial Arts & Consumer Services,0.584776,117,8650,...,2064,5949,510,0.055677,29000,20000,36000,563,7384,3163
150,151,2901,FAMILY AND CONSUMER SCIENCES,58001.0,5166.0,52835.0,Industrial Arts & Consumer Services,0.910933,518,46624,...,15872,26906,3355,0.067128,30000,22900,40000,20985,20133,5248
156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,9374.0,885.0,8489.0,Psychology & Social Work,0.905590,89,8294,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
155,156,5299,MISCELLANEOUS PSYCHOLOGY,9628.0,1936.0,7692.0,Psychology & Social Work,0.798920,60,7653,...,3221,3838,419,0.051908,30000,20800,40000,2960,3948,1650
154,155,2312,TEACHER EDUCATION: MULTIPLE LEVELS,14443.0,2734.0,11709.0,Education,0.810704,142,13076,...,2214,8457,496,0.036546,30000,24000,37000,10766,1949,722
153,154,6003,VISUAL AND PERFORMING ARTS,16250.0,4133.0,12117.0,Arts,0.745662,132,12870,...,6253,6322,1465,0.102197,30000,22000,40000,3849,7635,2840
152,153,1103,ANIMAL SCIENCES,21573.0,5347.0,16226.0,Agriculture & Natural Resources,0.752144,255,17112,...,5353,10824,917,0.050862,30000,22000,40000,5443,9571,2125
151,152,5404,SOCIAL WORK,53552.0,5137.0,48415.0,Psychology & Social Work,0.904075,374,45038,...,13481,27588,3329,0.068828,30000,25000,35000,27449,14416,4344
157,158,3402,HUMANITIES,6652.0,2013.0,4639.0,Humanities & Liberal Arts,0.697384,49,5052,...,2225,2661,372,0.068584,30000,20000,49000,1168,3354,1141
149,150,6000,FINE ARTS,74440.0,24786.0,49654.0,Arts,0.667034,623,59679,...,23656,31877,5486,0.084186,30500,21000,41000,20792,32725,11880
147,148,2306,PHYSICAL AND HEALTH EDUCATION TEACHING,28213.0,15670.0,12543.0,Education,0.444582,259,23794,...,7230,13651,1920,0.074667,31000,24000,40000,12777,9328,2042
148,149,6006,ART HISTORY AND CRITICISM,21030.0,3240.0,17790.0,Humanities & Liberal Arts,0.845934,204,17579,...,6140,9965,1128,0.060298,31000,23000,40000,5139,9738,3426
146,147,6002,MUSIC,60633.0,29909.0,30724.0,Arts,0.506721,419,47662,...,24943,21425,3918,0.075960,31000,22300,42000,13752,28786,9286
145,146,5200,PSYCHOLOGY,393735.0,86648.0,307087.0,Psychology & Social Work,0.779933,2584,307933,...,115172,174438,28169,0.083811,31500,24000,41000,125148,141860,48207
139,140,4101,PHYSICAL FITNESS PARKS RECREATION AND LEISURE,125074.0,62181.0,62893.0,Industrial Arts & Consumer Services,0.502846,1014,103078,...,38515,57978,5593,0.051467,32000,24000,43000,27581,63946,16838
140,141,3401,LIBERAL ARTS,71369.0,22339.0,49030.0,Humanities & Liberal Arts,0.686993,569,54844,...,19187,33438,4657,0.078268,32000,25000,42000,18565,28558,9030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,2500,ENGINEERING TECHNOLOGIES,3600.0,2695.0,905.0,Engineering,0.251389,39,2799,...,689,1723,163,0.055030,50000,43000,60000,1017,1269,142
30,31,2410,ENVIRONMENTAL ENGINEERING,4047.0,2662.0,1385.0,Engineering,0.342229,26,2983,...,930,1951,308,0.093589,50000,42000,56000,2028,830,260
33,34,2411,GEOLOGICAL AND GEOPHYSICAL ENGINEERING,720.0,488.0,232.0,Engineering,0.322222,5,604,...,126,396,49,0.075038,50000,42800,57000,501,50,49
29,30,5402,PUBLIC POLICY,5978.0,2639.0,3339.0,Law & Public Policy,0.558548,55,4547,...,1306,2776,670,0.128426,50000,35000,70000,1550,1871,340
32,33,6099,MISCELLANEOUS FINE ARTS,3340.0,1970.0,1370.0,Arts,0.410180,30,2914,...,1067,1200,286,0.089375,50000,25000,66000,693,1714,755
24,25,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,18713.0,13496.0,5217.0,Business,0.278790,278,16413,...,2420,13017,1015,0.058240,51000,38000,60000,6342,5741,708
22,23,2502,ELECTRICAL ENGINEERING TECHNOLOGY,11565.0,8181.0,3384.0,Engineering,0.292607,97,8587,...,1873,5681,824,0.087557,52000,35000,60000,5126,2686,696
23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,2993.0,2020.0,973.0,Engineering,0.325092,22,2449,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
21,22,1104,FOOD SCIENCE,NaN,NaN,NaN,Agriculture & Natural Resources,NaN,36,3149,...,1121,1735,338,0.096931,53000,32000,70000,1183,1274,485
20,21,2102,COMPUTER SCIENCE,128319.0,99743.0,28576.0,Computers & Mathematics,0.222695,1196,102087,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
19,20,3201,COURT REPORTING,1148.0,877.0,271.0,Law & Public Policy,0.236063,14,930,...,223,808,11,0.011690,54000,50000,54000,402,528,144
18,19,2403,ARCHITECTURAL ENGINEERING,2825.0,1835.0,990.0,Engineering,0.350442,26,2575,...,343,1848,170,0.061931,54000,38000,65000,1665,649,137
17,18,2400,GENERAL ENGINEERING,61152.0,45683.0,15469.0,Engineering,0.252960,425,44931,...,7199,33540,2859,0.059824,56000,36000,69000,26898,11734,3192
16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,18968.0,12453.0,6515.0,Engineering,0.343473,183,15604,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
15,16,2402,BIOLOGICAL ENGINEERING,8925.0,6062.0,2863.0,Engineering,0.320784,55,6170,...,1983,3413,589,0.087143,57100,40000,76000,3603,1595,524
14,15,2409,ENGINEERING MECHANICS PHYSICS AND SCIENCE,4321.0,3526.0,795.0,Engineering,0.183985,30,3608,...,811,2004,23,0.006334,58000,25000,74000,2439,947,263
8,9,2414,MECHANICAL ENGINEERING,91227.0,80320.0,10907.0,Engineering,0.119559,1029,76442,...,13101,54639,4650,0.057342,60000,48000,70000,52844,16384,3253
10,11,2407,COMPUTER ENGINEERING,41542.0,33258.0,8284.0,Engineering,0.199413,399,32506,...,5146,23621,2275,0.065409,60000,45000,75000,23694,5721,980
9,10,2408,ELECTRICAL ENGINEERING,81527.0,65511.0,16016.0,Engineering,0.196450,631,61928,...,12695,41413,3895,0.059174,60000,45000,72000,45829,10874,3170
12,13,2404,BIOMEDICAL ENGINEERING,14955.0,8407.0,6548.0,Engineering,0.437847,79,10047,...,2694,5986,1019,0.092084,60000,36000,70000,6439,2471,789
13,14,5008,MATERIALS SCIENCE,4279.0,2949.0,1330.0,Engineering,0.310820,22,3307,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
11,12,2401,AEROSPACE ENGINEERING,15058.0,12953.0,2105.0,Engineering,0.139793,147,11391,...,2724,8790,794,0.065162,60000,42000,70000,8184,2425,372
7,8,5001,ASTRONOMY AND ASTROPHYSICS,1792.0,832.0,960.0,Physical Sciences,0.535714,10,1526,...,553,827,33,0.021167,62000,31500,109000,972,500,220
6,7,6202,ACTUARIAL SCIENCE,3777.0,2110.0,1667.0,Business,0.441356,51,2912,...,296,2482,308,0.095652,62000,53000,72000,1768,314,259
5,6,2418,NUCLEAR ENGINEERING,2573.0,2200.0,373.0,Engineering,0.144967,17,1857,...,264,1449,400,0.177226,65000,50000,102000,1142,657,244
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193

In [45]:
len(majors_list_df['Major_Category'].unique())

17

In [47]:
df = pd.read_excel('LPR_data-2018-02.xlsx')

In [58]:
df.loc[df['Dimension'] == 'Computer Software & Hardware']

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY
1060,National,Industry,2018-02,Computer Software & Hardware,Median Base Pay,53154.0,NaN
1097,New York City,Industry,2018-02,Computer Software & Hardware,Median Base Pay,62966.0,NaN
1134,Los Angeles,Industry,2018-02,Computer Software & Hardware,Median Base Pay,61627.0,NaN
1171,Chicago,Industry,2018-02,Computer Software & Hardware,Median Base Pay,57339.0,NaN
1208,Houston,Industry,2018-02,Computer Software & Hardware,Median Base Pay,57190.0,NaN
1245,Washington DC,Industry,2018-02,Computer Software & Hardware,Median Base Pay,60893.0,NaN
1282,Philadelphia,Industry,2018-02,Computer Software & Hardware,Median Base Pay,57346.0,NaN
1319,Atlanta,Industry,2018-02,Computer Software & Hardware,Median Base Pay,54838.0,NaN
1356,Boston,Industry,2018-02,Computer Software & Hardware,Median Base Pay,60118.0,NaN
1393,San Francisco,Industry,2018-02,Computer Software & Hardware,Median Base Pay,70176.0,NaN
1430,Seattle,Industry,2018-02,Computer Software & Hardware,Median Base Pay,62813.0,NaN

In [60]:
df['Measure'].unique()

array([u'U.S. Median Pay', u'Metro Median Pay', u'Job Openings',
       u'Labor Force Size', u'Total Employment', u'Unemployment Rate',
       u'Median Base Pay'], dtype=object)

In [63]:
df.loc[df['Dimension'] == 'Job Openings']

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY
3,Atlanta,Quick Facts,2018-02,Job Openings,Job Openings,111588.0,0.141
9,New York City,Quick Facts,2018-02,Job Openings,Job Openings,300950.0,0.166
15,Los Angeles,Quick Facts,2018-02,Job Openings,Job Openings,212700.0,0.233
21,Philadelphia,Quick Facts,2018-02,Job Openings,Job Openings,110289.0,0.096
27,Houston,Quick Facts,2018-02,Job Openings,Job Openings,93800.0,0.185
33,Seattle,Quick Facts,2018-02,Job Openings,Job Openings,104720.0,0.014
39,San Francisco,Quick Facts,2018-02,Job Openings,Job Openings,146218.0,0.274
45,Chicago,Quick Facts,2018-02,Job Openings,Job Openings,194029.0,0.224
51,Boston,Quick Facts,2018-02,Job Openings,Job Openings,157492.0,0.281
57,Washington DC,Quick Facts,2018-02,Job Openings,Job Openings,170145.0,0.098

In [62]:
df['Dimension Type'].unique()

array([u'Quick Facts', u'Job Title', u'Company Size', u'Industry',
       u'Timeseries'], dtype=object)

In [65]:
df.loc[df['Dimension Type'] == 'Industry']

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY
1051,National,Industry,2018-02,Accounting & Legal,Median Base Pay,52575.0,NaN
1052,National,Industry,2018-02,Aerospace & Defense,Median Base Pay,54762.0,NaN
1053,National,Industry,2018-02,Architecture & Civil Engineering,Median Base Pay,52469.0,NaN
1054,National,Industry,2018-02,Arts & Entertainment,Median Base Pay,45952.0,NaN
1055,National,Industry,2018-02,Automotive,Median Base Pay,47632.0,NaN
1056,National,Industry,2018-02,Banking & Financial Services,Median Base Pay,51346.0,NaN
1057,National,Industry,2018-02,Beauty & Fitness,Median Base Pay,47459.0,NaN
1058,National,Industry,2018-02,Biotech & Pharmaceuticals,Median Base Pay,54533.0,NaN
1059,National,Industry,2018-02,Business Services,Median Base Pay,49169.0,NaN
1060,National,Industry,2018-02,Computer Software & Hardware,Median Base Pay,53154.0,NaN
1061,National,Industry,2018-02,Construction,Median Base Pay,51678.0,NaN
1062,National,Industry,2018-02,Consulting,Median Base Pay,51999.0,NaN
1063,National,Industry,2018-02,Consumer Electronics,Median Base Pay,46571.0,NaN
1064,National,Industry,2018-02,Consumer Services,Median Base Pay,46137.0,NaN
1065,National,Industry,2018-02,Education & Schools,Median Base Pay,47919.0,NaN
1066,National,Industry,2018-02,Energy & Utilities,Median Base Pay,56144.0,NaN
1067,National,Industry,2018-02,Facilities,Median Base Pay,47826.0,NaN
1068,National,Industry,2018-02,Farming & Agriculture,Median Base Pay,51812.0,NaN
1069,National,Industry,2018-02,Government,Median Base Pay,51749.0,NaN
1070,National,Industry,2018-02,Health Care & Hospitals,Median Base Pay,50208.0,NaN
1071,National,Industry,2018-02,Information Technology,Median Base Pay,51161.0,NaN
1072,National,Industry,2018-02,Insurance,Median Base Pay,50765.0,NaN
1073,National,Industry,2018-02,Internet & Tech,Median Base Pay,52209.0,NaN
1074,National,Industry,2018-02,Manufacturing,Median Base Pay,52782.0,NaN
1075,National,Industry,2018-02,Marketing & Advertising,Median Base Pay,49178.0,NaN
1076,National,Industry,2018-02,Media & Publishing,Median Base Pay,50166.0,NaN
1077,National,Industry,2018-02,Nonprofit,Median Base Pay,47182.0,NaN
1078,National,Industry,2018-02,Private Security,Median Base Pay,46670.0,NaN
1079,National,Industry,2018-02,Real Estate,Median Base Pay,49765.0,NaN
1080,National,Industry,2018-02,Recruiting & Staffing,Median Base Pay,48145.0,NaN
...,...,...,...,...,...,...,...
1428,Seattle,Industry,2018-02,Biotech & Pharmaceuticals,Median Base Pay,64443.0,NaN
1429,Seattle,Industry,2018-02,Business Services,Median Base Pay,58104.0,NaN
1430,Seattle,Industry,2018-02,Computer Software & Hardware,Median Base Pay,62813.0,NaN
1431,Seattle,Industry,2018-02,Construction,Median Base Pay,61068.0,NaN
1432,Seattle,Industry,2018-02,Consulting,Median Base Pay,61448.0,NaN
1433,Seattle,Industry,2018-02,Consumer Electronics,Median Base Pay,55034.0,NaN
1434,Seattle,Industry,2018-02,Consumer Services,Median Base Pay,54521.0,NaN
1435,Seattle,Industry,2018-02,Education & Schools,Median Base Pay,56627.0,NaN
1436,Seattle,Industry,2018-02,Energy & Utilities,Median Base Pay,66347.0,NaN
1437,Seattle,Industry,2018-02,Facilities,Median Base Pay,56517.0,NaN
1438,Seattle,Industry,2018-02,Farming & Agriculture,Median Base Pay,61227.0,NaN
1439,Seattle,Industry,2018-02,Government,Median Base Pay,61153.0,NaN
1440,Seattle,Industry,2018-02,Health Care & Hospitals,Median Base Pay,59332.0,NaN
1441,Seattle,Industry,2018-02,Information Technology,Median Base Pay,60458.0,NaN
1442,Seattle,Industry,2018-02,Insurance,Median Base Pay,59990.0,NaN
1443,Seattle,Industry,2018-02,Internet & Tech,Median Base Pay,61696.0,NaN
1444,Seattle,Industry,2018-02,Manufacturing,Median Base Pay,62373.0,NaN
1445,Seattle,Industry,2018-02,Marketing & Advertising,Median Base Pay,58115.0,NaN
1446,Seattle,Industry,2018-02,Media & Publishing,Median Base Pay,59282.0,NaN
1447,Seattle,Industry,2018-02,Nonprofit,Median Base Pay,55756.0,NaN
1448,Seattle,Industry,2018-02,Private Security,Median Base Pay,55151.0,NaN
1449,Seattle,Industry,2018-02,Real Estate,Median Base Pay,58808.0,NaN
1450,Seattle,Industry,2018-02,Recruiting & Staffing,Median Base Pay,56894.0,NaN
1451,Seattle,Industry,2018-02,Restaurants & Bars,Median Base Pay,56093.0,NaN
1452,Seattle,Industry,2018-02,Retail,Median Base Pay,55876.0,NaN
1453,Seattle,Industry,2018-02,Supermarkets,Median Base Pay,57788.0,NaN
1454,Seattle,Industry,2018-02,Telecommunications,Median Base Pay,58841.0,NaN
1455,Seattle,Industry,2018-02,Transportation & Logistics,Median Base Pay,59942.0,NaN
1456,Seattle,Industry,2018-02,Travel & Tourism,Median Base Pay,56495.0,NaN
1457,Seattle,Industry,2018-02,Wholesale,Median Base Pay,59456.0,NaN

In [66]:
df2 = df.loc[df['Dimension'] == 'Computer Software & Hardware']

In [70]:
df.loc[df['Measure'] == '']

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY
6,Atlanta,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.041,-0.009
12,New York City,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.040,-0.002
18,Los Angeles,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.039,-0.005
24,Philadelphia,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.042,-0.001
30,Houston,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.043,-0.010
36,Seattle,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.041,0.001
42,San Francisco,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.027,-0.007
48,Chicago,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.047,-0.008
54,Boston,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.028,0.003
60,Washington DC,Quick Facts,2017-12,Unemployment Rate,Unemployment Rate,0.033,-0.002