In [1]:
# https://github.com/fivethirtyeight/data/tree/master/college-majors

In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [6]:
recent_grads_df = pd.read_csv('data/recent-grads.csv')
all_ages_df = pd.read_csv('data/all-ages.csv')
majors_list_df = pd.read_csv('data/majors-list.csv')

In [4]:
recent_grads_df.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [8]:
recent_grads_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
Rank                    173 non-null int64
Major_code              173 non-null int64
Major                   173 non-null object
Total                   172 non-null float64
Men                     172 non-null float64
Women                   172 non-null float64
Major_category          173 non-null object
ShareWomen              172 non-null float64
Sample_size             173 non-null int64
Employed                173 non-null int64
Full_time               173 non-null int64
Part_time               173 non-null int64
Full_time_year_round    173 non-null int64
Unemployed              173 non-null int64
Unemployment_rate       173 non-null float64
Median                  173 non-null int64
P25th                   173 non-null int64
P75th                   173 non-null int64
College_jobs            173 non-null int64
Non_college_jobs        173 non-null int64
Low_wage_jobs           173 non-null int64
dtypes: float64(5), int64(14), object(2)
memory usage: 28.5+ KB

In [5]:
all_ages_df.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [7]:
majors_list_df.head()

,FOD1P,Major,Major_Category
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources
4,1104,FOOD SCIENCE,Agriculture & Natural Resources

In [27]:
majors_list_df[majors_list_df['Major'].str.contains('COMPUTER')]

,FOD1P,Major,Major_Category
50,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics
51,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics
52,2102,COMPUTER SCIENCE,Computers & Mathematics
54,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics
55,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics
59,4005,MATHEMATICS AND COMPUTER SCIENCE,Computers & Mathematics
67,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,Education
84,2407,COMPUTER ENGINEERING,Engineering

In [29]:
majors_list_df.loc[majors_list_df['Major_Category'] == 'Computers & Mathematics']

,FOD1P,Major,Major_Category
49,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics
50,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics
51,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics
52,2102,COMPUTER SCIENCE,Computers & Mathematics
53,2105,INFORMATION SCIENCES,Computers & Mathematics
54,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics
55,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics
56,3700,MATHEMATICS,Computers & Mathematics
57,3701,APPLIED MATHEMATICS,Computers & Mathematics
58,3702,STATISTICS AND DECISION SCIENCE,Computers & Mathematics
59,4005,MATHEMATICS AND COMPUTER SCIENCE,Computers & Mathematics

In [30]:
majors_list_df.loc[majors_list_df['Major_Category'] == 'Engineering']

    FOD1P                                        Major Major_Category
76   1401                                 ARCHITECTURE    Engineering
77   2400                          GENERAL ENGINEERING    Engineering
78   2401                        AEROSPACE ENGINEERING    Engineering
79   2402                       BIOLOGICAL ENGINEERING    Engineering
80   2403                    ARCHITECTURAL ENGINEERING    Engineering
81   2404                       BIOMEDICAL ENGINEERING    Engineering
82   2405                         CHEMICAL ENGINEERING    Engineering
83   2406                            CIVIL ENGINEERING    Engineering
84   2407                         COMPUTER ENGINEERING    Engineering
85   2408                       ELECTRICAL ENGINEERING    Engineering
86   2409    ENGINEERING MECHANICS PHYSICS AND SCIENCE    Engineering
87   2410                    ENVIRONMENTAL ENGINEERING    Engineering
88   2411       GEOLOGICAL AND GEOPHYSICAL ENGINEERING    Engineering
89   2412     INDUSTRIAL AND MANUFACTURING ENGINEERING    Engineering
90   2413  MATERIALS ENGINEERING AND MATERIALS SCIENCE    Engineering
91   2414                       MECHANICAL ENGINEERING    Engineering
92   2415                    METALLURGICAL ENGINEERING    Engineering
93   2416               MINING AND MINERAL ENGINEERING    Engineering
94   2417    NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
95   2418                          NUCLEAR ENGINEERING    Engineering
96   2419                        PETROLEUM ENGINEERING    Engineering
97   2499                    MISCELLANEOUS ENGINEERING    Engineering
98   2500                     ENGINEERING TECHNOLOGIES    Engineering
99   2501        ENGINEERING AND INDUSTRIAL MANAGEMENT    Engineering
100  2502            ELECTRICAL ENGINEERING TECHNOLOGY    Engineering
101  2503           INDUSTRIAL PRODUCTION TECHNOLOGIES    Engineering
102  2504  MECHANICAL ENGINEERING RELATED TECHNOLOGIES    Engineering
103  2599       MISCELLANEOUS ENGINEERING TECHNOLOGIES    Engineering
104  5008                            MATERIALS SCIENCE    Engineering

In [32]:
recent_grads_df.loc[recent_grads_df['Major_category'] == 'Computers & Mathematics']

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
20,21,2102,COMPUTER SCIENCE,128319.0,99743.0,28576.0,Computers & Mathematics,0.222695,1196,102087,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
41,42,3700,MATHEMATICS,72397.0,39956.0,32441.0,Computers & Mathematics,0.448099,541,58118,...,18079,33738,2884,0.047277,45000,33000,60000,34800,14829,4569
42,43,2100,COMPUTER AND INFORMATION SYSTEMS,36698.0,27392.0,9306.0,Computers & Mathematics,0.253583,425,28459,...,4332,21130,2934,0.093460,45000,30000,60000,13344,11783,1672
45,46,2105,INFORMATION SCIENCES,11913.0,9005.0,2908.0,Computers & Mathematics,0.244103,158,9881,...,1468,7378,639,0.060741,45000,32500,58000,4390,4102,608
46,47,3702,STATISTICS AND DECISION SCIENCE,6251.0,2960.0,3291.0,Computers & Mathematics,0.526476,37,4247,...,1840,2151,401,0.086274,45000,26700,60000,2298,1200,343
47,48,3701,APPLIED MATHEMATICS,4939.0,2794.0,2145.0,Computers & Mathematics,0.434298,45,3854,...,1176,2593,385,0.090823,45000,34000,63000,2437,803,357
52,53,4005,MATHEMATICS AND COMPUTER SCIENCE,609.0,500.0,109.0,Computers & Mathematics,0.178982,7,559,...,0,391,0,0.000000,42000,30000,78000,452,67,25
53,54,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,4168.0,3046.0,1122.0,Computers & Mathematics,0.269194,43,3257,...,482,2453,419,0.113983,41300,20000,46000,2024,1033,263
81,82,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,8066.0,6607.0,1459.0,Computers & Mathematics,0.180883,103,6509,...,1030,4936,721,0.099723,37500,25000,50000,2354,3244,308
84,85,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,7613.0,5291.0,2322.0,Computers & Mathematics,0.305005,97,6144,...,1447,4369,1100,0.151850,36400,27000,49000,2593,2941,352
105,106,2001,COMMUNICATION TECHNOLOGIES,18035.0,11431.0,6604.0,Computers & Mathematics,0.366177,208,14779,...,4690,9085,2006,0.119511,35000,25000,45000,4545,8794,2495