In [1]:
# https://github.com/fivethirtyeight/data/tree/master/college-majors

In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [6]:
recent_grads_df = pd.read_csv('data/recent-grads.csv')
all_ages_df = pd.read_csv('data/all-ages.csv')
majors_list_df = pd.read_csv('data/majors-list.csv')

In [4]:
recent_grads_df.head()

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,1258.0,1123.0,135.0,Engineering,0.107313,16,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,32260.0,21239.0,11021.0,Engineering,0.341631,289,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [8]:
recent_grads_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
Rank                    173 non-null int64
Major_code              173 non-null int64
Major                   173 non-null object
Total                   172 non-null float64
Men                     172 non-null float64
Women                   172 non-null float64
Major_category          173 non-null object
ShareWomen              172 non-null float64
Sample_size             173 non-null int64
Employed                173 non-null int64
Full_time               173 non-null int64
Part_time               173 non-null int64
Full_time_year_round    173 non-null int64
Unemployed              173 non-null int64
Unemployment_rate       173 non-null float64
Median                  173 non-null int64
P25th                   173 non-null int64
P75th                   173 non-null int64
College_jobs            173 non-null int64
Non_college_jobs        173 non-null int64
Low_wage_jobs           173 non-null int64
dtypes: float64(5), int64(14), object(2)
memory usage: 28.5+ KB

In [5]:
all_ages_df.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [7]:
majors_list_df.head()

,FOD1P,Major,Major_Category
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources
4,1104,FOOD SCIENCE,Agriculture & Natural Resources

In [27]:
majors_list_df[majors_list_df['Major'].str.contains('COMPUTER')]

,FOD1P,Major,Major_Category
50,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics
51,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics
52,2102,COMPUTER SCIENCE,Computers & Mathematics
54,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics
55,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics
59,4005,MATHEMATICS AND COMPUTER SCIENCE,Computers & Mathematics
67,2308,SCIENCE AND COMPUTER TEACHER EDUCATION,Education
84,2407,COMPUTER ENGINEERING,Engineering

In [29]:
majors_list_df.loc[majors_list_df['Major_Category'] == 'Computers & Mathematics']

,FOD1P,Major,Major_Category
49,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics
50,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics
51,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics
52,2102,COMPUTER SCIENCE,Computers & Mathematics
53,2105,INFORMATION SCIENCES,Computers & Mathematics
54,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics
55,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics
56,3700,MATHEMATICS,Computers & Mathematics
57,3701,APPLIED MATHEMATICS,Computers & Mathematics
58,3702,STATISTICS AND DECISION SCIENCE,Computers & Mathematics
59,4005,MATHEMATICS AND COMPUTER SCIENCE,Computers & Mathematics

In [30]:
majors_list_df.loc[majors_list_df['Major_Category'] == 'Engineering']

    FOD1P                                        Major Major_Category
76   1401                                 ARCHITECTURE    Engineering
77   2400                          GENERAL ENGINEERING    Engineering
78   2401                        AEROSPACE ENGINEERING    Engineering
79   2402                       BIOLOGICAL ENGINEERING    Engineering
80   2403                    ARCHITECTURAL ENGINEERING    Engineering
81   2404                       BIOMEDICAL ENGINEERING    Engineering
82   2405                         CHEMICAL ENGINEERING    Engineering
83   2406                            CIVIL ENGINEERING    Engineering
84   2407                         COMPUTER ENGINEERING    Engineering
85   2408                       ELECTRICAL ENGINEERING    Engineering
86   2409    ENGINEERING MECHANICS PHYSICS AND SCIENCE    Engineering
87   2410                    ENVIRONMENTAL ENGINEERING    Engineering
88   2411       GEOLOGICAL AND GEOPHYSICAL ENGINEERING    Engineering
89   2412     INDUSTRIAL AND MANUFACTURING ENGINEERING    Engineering
90   2413  MATERIALS ENGINEERING AND MATERIALS SCIENCE    Engineering
91   2414                       MECHANICAL ENGINEERING    Engineering
92   2415                    METALLURGICAL ENGINEERING    Engineering
93   2416               MINING AND MINERAL ENGINEERING    Engineering
94   2417    NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
95   2418                          NUCLEAR ENGINEERING    Engineering
96   2419                        PETROLEUM ENGINEERING    Engineering
97   2499                    MISCELLANEOUS ENGINEERING    Engineering
98   2500                     ENGINEERING TECHNOLOGIES    Engineering
99   2501        ENGINEERING AND INDUSTRIAL MANAGEMENT    Engineering
100  2502            ELECTRICAL ENGINEERING TECHNOLOGY    Engineering
101  2503           INDUSTRIAL PRODUCTION TECHNOLOGIES    Engineering
102  2504  MECHANICAL ENGINEERING RELATED TECHNOLOGIES    Engineering
103  2599       MISCELLANEOUS ENGINEERING TECHNOLOGIES    Engineering
104  5008                            MATERIALS SCIENCE    Engineering

In [32]:
recent_grads_df.loc[recent_grads_df['Major_category'] == 'Computers & Mathematics']

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
20,21,2102,COMPUTER SCIENCE,128319.0,99743.0,28576.0,Computers & Mathematics,0.222695,1196,102087,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144
41,42,3700,MATHEMATICS,72397.0,39956.0,32441.0,Computers & Mathematics,0.448099,541,58118,...,18079,33738,2884,0.047277,45000,33000,60000,34800,14829,4569
42,43,2100,COMPUTER AND INFORMATION SYSTEMS,36698.0,27392.0,9306.0,Computers & Mathematics,0.253583,425,28459,...,4332,21130,2934,0.093460,45000,30000,60000,13344,11783,1672
45,46,2105,INFORMATION SCIENCES,11913.0,9005.0,2908.0,Computers & Mathematics,0.244103,158,9881,...,1468,7378,639,0.060741,45000,32500,58000,4390,4102,608
46,47,3702,STATISTICS AND DECISION SCIENCE,6251.0,2960.0,3291.0,Computers & Mathematics,0.526476,37,4247,...,1840,2151,401,0.086274,45000,26700,60000,2298,1200,343
47,48,3701,APPLIED MATHEMATICS,4939.0,2794.0,2145.0,Computers & Mathematics,0.434298,45,3854,...,1176,2593,385,0.090823,45000,34000,63000,2437,803,357
52,53,4005,MATHEMATICS AND COMPUTER SCIENCE,609.0,500.0,109.0,Computers & Mathematics,0.178982,7,559,...,0,391,0,0.000000,42000,30000,78000,452,67,25
53,54,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,4168.0,3046.0,1122.0,Computers & Mathematics,0.269194,43,3257,...,482,2453,419,0.113983,41300,20000,46000,2024,1033,263
81,82,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,8066.0,6607.0,1459.0,Computers & Mathematics,0.180883,103,6509,...,1030,4936,721,0.099723,37500,25000,50000,2354,3244,308
84,85,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,7613.0,5291.0,2322.0,Computers & Mathematics,0.305005,97,6144,...,1447,4369,1100,0.151850,36400,27000,49000,2593,2941,352
105,106,2001,COMMUNICATION TECHNOLOGIES,18035.0,11431.0,6604.0,Computers & Mathematics,0.366177,208,14779,...,4690,9085,2006,0.119511,35000,25000,45000,4545,8794,2495

In [33]:
recent_grads_df.loc[recent_grads_df['Major'] == 'COMPUTER SCIENCE']

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
20,21,2102,COMPUTER SCIENCE,128319.0,99743.0,28576.0,Computers & Mathematics,0.222695,1196,102087,...,18726,70932,6884,0.063173,53000,39000,70000,68622,25667,5144

In [35]:
recent_grads_df.sort_values('Unemployment_rate')

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
120,121,2301,EDUCATIONAL ADMINISTRATION AND SUPERVISION,804.0,280.0,524.0,Education,0.651741,5,703,...,0,504,0,0.000000,34000,29000,35000,346,206,111
73,74,3801,MILITARY TECHNOLOGIES,124.0,124.0,0.0,Industrial Arts & Consumer Services,0.000000,4,0,...,0,111,0,0.000000,40000,40000,40000,0,0,0
83,84,3602,BOTANY,1329.0,626.0,703.0,Biology & Life Science,0.528969,9,1010,...,169,740,0,0.000000,37000,26000,40000,677,184,56
52,53,4005,MATHEMATICS AND COMPUTER SCIENCE,609.0,500.0,109.0,Computers & Mathematics,0.178982,7,559,...,0,391,0,0.000000,42000,30000,78000,452,67,25
112,113,1106,SOIL SCIENCE,685.0,476.0,209.0,Agriculture & Natural Resources,0.305109,4,613,...,185,383,0,0.000000,35000,18500,44000,355,144,0
14,15,2409,ENGINEERING MECHANICS PHYSICS AND SCIENCE,4321.0,3526.0,795.0,Engineering,0.183985,30,3608,...,811,2004,23,0.006334,58000,25000,74000,2439,947,263
19,20,3201,COURT REPORTING,1148.0,877.0,271.0,Law & Public Policy,0.236063,14,930,...,223,808,11,0.011690,54000,50000,54000,402,528,144
119,120,2305,MATHEMATICS TEACHER EDUCATION,14237.0,3872.0,10365.0,Education,0.728033,123,13115,...,2273,8073,216,0.016203,34000,30000,40000,10699,1977,786
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
64,65,1100,GENERAL AGRICULTURE,10399.0,6053.0,4346.0,Agriculture & Natural Resources,0.417925,158,8884,...,2031,5888,178,0.019642,40000,30000,50000,2418,4717,839
7,8,5001,ASTRONOMY AND ASTROPHYSICS,1792.0,832.0,960.0,Physical Sciences,0.535714,10,1526,...,553,827,33,0.021167,62000,31500,109000,972,500,220
110,111,5002,ATMOSPHERIC SCIENCES AND METEOROLOGY,4043.0,2744.0,1299.0,Physical Sciences,0.321296,32,3431,...,1309,2161,78,0.022229,35000,28000,50000,1808,1317,237
13,14,5008,MATERIALS SCIENCE,4279.0,2949.0,1330.0,Engineering,0.310820,22,3307,...,878,1967,78,0.023043,60000,39000,65000,2626,391,81
2,3,2415,METALLURGICAL ENGINEERING,856.0,725.0,131.0,Engineering,0.153037,3,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
90,91,5005,GEOSCIENCES,1978.0,809.0,1169.0,Physical Sciences,0.591001,18,1441,...,354,1011,36,0.024374,36000,21000,41000,784,591,221
23,24,2413,MATERIALS ENGINEERING AND MATERIALS SCIENCE,2993.0,2020.0,973.0,Engineering,0.325092,22,2449,...,1040,1151,70,0.027789,52000,35000,62000,1911,305,70
38,39,2503,INDUSTRIAL PRODUCTION TECHNOLOGIES,4631.0,3477.0,1154.0,Engineering,0.249190,73,4428,...,597,3242,129,0.028308,46000,35000,65000,1394,2454,480
75,76,5701,"ELECTRICAL, MECHANICAL, AND PRECISION TECHNOLO...",2435.0,1869.0,566.0,Industrial Arts & Consumer Services,0.232444,37,2107,...,287,1752,64,0.029480,38400,22500,45000,221,1659,81
91,92,5206,SOCIAL PSYCHOLOGY,1386.0,413.0,973.0,Psychology & Social Work,0.702020,8,1080,...,433,529,33,0.029650,36000,34000,45000,434,593,37
50,51,2501,ENGINEERING AND INDUSTRIAL MANAGEMENT,2906.0,2400.0,506.0,Engineering,0.174123,29,2125,...,462,1358,74,0.033652,44000,30000,50000,482,844,245
67,68,3605,GENETICS,3635.0,1761.0,1874.0,Biology & Life Science,0.515543,11,2463,...,847,1487,87,0.034118,40000,34000,45000,1675,678,201
72,73,5000,PHYSICAL SCIENCES,1436.0,894.0,542.0,Physical Sciences,0.377437,10,1146,...,437,653,42,0.035354,40000,30000,55000,530,465,269
154,155,2312,TEACHER EDUCATION: MULTIPLE LEVELS,14443.0,2734.0,11709.0,Education,0.810704,142,13076,...,2214,8457,496,0.036546,30000,24000,37000,10766,1949,722
44,45,6105,MEDICAL TECHNOLOGIES TECHNICIANS,15914.0,3916.0,11998.0,Health,0.753927,190,13150,...,2665,9005,505,0.036983,45000,36000,50000,5546,7176,1002
156,157,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,9374.0,885.0,8489.0,Psychology & Social Work,0.905590,89,8294,...,2405,5061,326,0.037819,30000,24000,35000,2878,4595,724
136,137,2314,ART AND MUSIC EDUCATION,34181.0,10732.0,23449.0,Education,0.686024,338,30007,...,9209,16537,1206,0.038638,32100,25000,40000,20821,8260,2767
164,165,2307,EARLY CHILDHOOD EDUCATION,37589.0,1167.0,36422.0,Education,0.968954,342,32551,...,7001,20748,1360,0.040105,28000,21000,35000,23515,7705,2868
100,101,2310,SPECIAL NEEDS EDUCATION,28739.0,2682.0,26057.0,Education,0.906677,246,24639,...,5153,16642,1067,0.041508,35000,32000,42000,20185,3797,1179
51,52,6104,MEDICAL ASSISTING SERVICES,11123.0,803.0,10320.0,Health,0.927807,67,9168,...,4107,4290,407,0.042507,42000,30000,65000,2091,6948,1270
16,17,2412,INDUSTRIAL AND MANUFACTURING ENGINEERING,18968.0,12453.0,6515.0,Engineering,0.343473,183,15604,...,2243,11326,699,0.042876,57000,37900,67000,8306,3235,640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,6210,INTERNATIONAL BUSINESS,25894.0,10624.0,15270.0,Business,0.589712,260,19660,...,4890,12823,2092,0.096175,40000,30000,50000,3383,9482,3046
37,38,6205,BUSINESS ECONOMICS,13302.0,7575.0,5727.0,Business,0.430537,199,10914,...,1937,8000,1165,0.096448,46000,33000,58000,1578,4612,1284
111,112,1302,FORESTRY,3607.0,3156.0,451.0,Agriculture & Natural Resources,0.125035,48,3007,...,891,1763,322,0.096726,35000,28600,48000,1096,1692,327
95,96,6004,COMMERCIAL ART AND GRAPHIC DESIGN,103480.0,32041.0,71439.0,Arts,0.690365,1186,83483,...,24387,52243,8947,0.096798,35000,25000,45000,37389,38119,14839
56,57,5505,INTERNATIONAL RELATIONS,28187.0,10345.0,17842.0,Social Science,0.632987,219,21190,...,5563,13583,2271,0.096799,40100,31200,53000,6774,9570,2499
21,22,1104,FOOD SCIENCE,NaN,NaN,NaN,Agriculture & Natural Resources,NaN,36,3149,...,1121,1735,338,0.096931,53000,32000,70000,1183,1274,485
102,103,5503,CRIMINOLOGY,19879.0,10031.0,9848.0,Social Science,0.495397,214,16181,...,4543,10548,1743,0.097244,35000,25000,45000,3373,10605,1895
36,37,5501,ECONOMICS,139247.0,89749.0,49498.0,Social Science,0.355469,1322,104117,...,25325,70740,11452,0.099092,47000,35000,65000,25582,37057,10653
81,82,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,8066.0,6607.0,1459.0,Computers & Mathematics,0.180883,103,6509,...,1030,4936,721,0.099723,37500,25000,50000,2354,3244,308
78,79,5506,POLITICAL SCIENCE AND GOVERNMENT,182621.0,93880.0,88741.0,Social Science,0.485930,1387,133454,...,43711,83236,15022,0.101175,38000,28000,50000,36854,66947,19803
153,154,6003,VISUAL AND PERFORMING ARTS,16250.0,4133.0,12117.0,Arts,0.745662,132,12870,...,6253,6322,1465,0.102197,30000,22000,40000,3849,7635,2840
162,163,5502,ANTHROPOLOGY AND ARCHEOLOGY,38844.0,11376.0,27468.0,Humanities & Liberal Arts,0.707136,247,29633,...,14515,13232,3395,0.102792,28000,20000,38000,9805,16693,6866
142,143,5500,GENERAL SOCIAL SCIENCES,12920.0,5079.0,7841.0,Social Science,0.606889,113,9602,...,3396,5679,1108,0.103455,32000,27000,50000,3602,4778,1634
129,130,2601,LINGUISTICS AND COMPARATIVE LANGUAGE AND LITER...,16601.0,4416.0,12185.0,Humanities & Liberal Arts,0.733992,88,11165,...,4831,5821,1302,0.104436,33000,25000,40000,4122,5695,2085
172,173,3501,LIBRARY SCIENCE,1098.0,134.0,964.0,Education,0.877960,2,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192
141,142,6005,FILM VIDEO AND PHOTOGRAPHIC ARTS,38761.0,22357.0,16404.0,Arts,0.423209,331,31433,...,12818,15740,3718,0.105772,32000,22000,42000,7368,20721,5862
165,166,2603,OTHER FOREIGN LANGUAGES,11204.0,3472.0,7732.0,Humanities & Liberal Arts,0.690111,56,7052,...,3685,3214,846,0.107116,27500,22900,38000,2326,3703,1115
55,56,2303,SCHOOL STUDENT COUNSELING,818.0,119.0,699.0,Education,0.854523,4,730,...,135,545,88,0.107579,41000,41000,43000,509,221,0
70,71,5205,INDUSTRIAL AND ORGANIZATIONAL PSYCHOLOGY,3014.0,1075.0,1939.0,Psychology & Social Work,0.643331,24,2343,...,1095,1409,286,0.108787,40000,32000,53000,559,1224,272
118,119,6110,COMMUNITY AND PUBLIC HEALTH,19735.0,4103.0,15632.0,Health,0.792095,130,14512,...,6377,7460,1833,0.112144,34000,21000,45000,5225,7385,1854
58,59,1401,ARCHITECTURE,46420.0,25463.0,20957.0,Engineering,0.451465,362,34158,...,10206,20026,4366,0.113332,40000,31000,50000,16178,13724,4221
79,80,5504,GEOGRAPHY,18480.0,11404.0,7076.0,Social Science,0.382900,179,14057,...,5651,8628,1799,0.113459,38000,30000,50000,5350,6830,1905
53,54,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,4168.0,3046.0,1122.0,Computers & Mathematics,0.269194,43,3257,...,482,2453,419,0.113983,41300,20000,46000,2024,1033,263
1,2,2416,MINING AND MINERAL ENGINEERING,756.0,679.0,77.0,Engineering,0.101852,7,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
105,106,2001,COMMUNICATION TECHNOLOGIES,18035.0,11431.0,6604.0,Computers & Mathematics,0.366177,208,14779,...,4690,9085,2006,0.119511,35000,25000,45000,4545,8794,2495
29,30,5402,PUBLIC POLICY,5978.0,2639.0,3339.0,Law & Public Policy,0.558548,55,4547,...,1306,2776,670,0.128426,50000,35000,70000,1550,1871,340
170,171,5202,CLINICAL PSYCHOLOGY,2838.0,568.0,2270.0,Psychology & Social Work,0.799859,13,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
84,85,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,7613.0,5291.0,2322.0,Computers & Mathematics,0.305005,97,6144,...,1447,4369,1100,0.151850,36400,27000,49000,2593,2941,352
89,90,5401,PUBLIC ADMINISTRATION,5629.0,2947.0,2682.0,Law & Public Policy,0.476461,46,4158,...,847,2952,789,0.159491,36000,23000,60000,919,2313,496
5,6,2418,NUCLEAR ENGINEERING,2573.0,2200.0,373.0,Engineering,0.144967,17,1857,...,264,1449,400,0.177226,65000,50000,102000,1142,657,244